.form-field {
    width: 100%;
    padding: 1rem;
    background-color: var(--light);
    border: 1px solid var(--light-grey);
    font-size: 1rem;
    transition: border 0.2s ease-in-out;
}

.form-field:hover {
    border: 1px solid var(--orange);
}

.form-field:focus {
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
    border-left: 5px solid var(--orange);
    outline: none;
}

.textarea {
    height: 100%;
    max-width: 100%;
    font-family: 'Exo', sans-serif;
    grid-area: textarea;
}

.form {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "field1 textarea"
        "field2 textarea"
        "field3 textarea";
    grid-gap: 1rem;
}