:root {
    --light: #F3F7F4;
    --black: #0E1111;
    --orange: #E4572E;
    --yellow: #F3A712;
    --green: #3E5641;

    --brown: #6F5E53;
    --grey: #8e8e8e;
    --pink: #D11149;
    
    --nav-underline: 5px;
    /* 
    --green: #447604;
    --violet: #3D315B;
    --blue: #444B6E;
    --red: #A5402D;
    --yellow: #f1a02e;
    --black: #272727; */
}

*:before,
*:after {
  box-sizing: inherit;
} 

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, Arial,sans-serif;
    color: var(--black);
    font-size: 16px;


}

body {
    background-color: var(--light);
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}


/* HEADER */
.nav-wrapper {
    background-color: var(--black);
    min-height: 4rem;
    color: var(--light);
    font-family: 'Righteous', cursive;
}

.grid-horizontal {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-content: space-evenly;
}

div.top-header:first-child {
    text-align: left;
}

div.top-header:last-child {
    text-align: end;
}


.top-header:first-child {
     align-self: center;
     padding-left: 2rem;
}

.top-header:last-child {
    align-self: center;
    padding-right: 2rem;
}

.top-header h1 > span {
    color: var(--orange);
}

.top-header h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-style: italic;
}

.top-header h3 > span {
    font-size: 1rem;
    color: var(--orange);
    font-style: normal;
}

/* NAV BAR */

.grid-menu {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    padding: 0px 0px;
}

.nav li {
    text-align: center;
    align-items: center;
    height: 100%;
    display: grid;
    transition: border-bottom 0.2s ease-in-out;
    transition: border-bottom-radius 0.2s ease-in-out;
    padding: var(--nav-underline) 0;
}

.nav a {
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--light);
    white-space: nowrap;
    padding-left:2rem;
    padding-right:2rem;
}

.nav li.current {
    background-color: var(--yellow);
}

.nav li.current a {
    color: var(--black);
}

.nav li:hover {
    border-bottom: var(--nav-underline) solid var(--orange);
    padding-bottom: 0;  /* to prevent jumping block*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav li a:active {
    color: var(--orange);
} 

.sticky {
    position: sticky;
    top: 0;
}


/*      BANNER       */

#banner {
    height: calc(100vh - 4rem);
    background-color: var(--light);
    background-image: url(img/acrylic_bacground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(115deg, rgba(0,0,0,0) 30%,
     white 30%, white 31%, white  31.1%, white 70%,
      rgba(0,0,0,0) 70%), url(img/acrylic_bacground.jpeg);
}

.flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    padding: 0 4rem 3rem 4rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.1rem;
    border-bottom: 0.5rem solid var(--orange);
    color: var(--orange);
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 6rem;
}

.banner-content h2 {
    font-size: 3rem;
    color: var(--black);
}






/*        Consistent styles ends here      */

.under-buttons-box {
    width: 25%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    top: 40%;

}

.under-buttons-box h1 {
    color: var(--light);
    text-align: center;
    padding-top: 5px;
}

.button-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}

.button {
    color: var(--blue);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding:1rem;
    background-color: var(--light);
}


/*   POST  */

.thick-border {
    border: 5px solid var(--blue);
}

div.post {
    margin: 80px auto;
    padding: 40px 60px;
    display: grid;
    grid-gap: 20px 60px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4rem 1fr;
}

.photo {
    grid-row: span 2;
}

img {
    width: 100%;
  }


  .post h1 {
      font-size: 3rem;
      color: var(--orange)
  }

  .post p {
      line-height: 1.5rem;
      font-size: 1.2rem;
      text-align: justify;
  }




  /*  BOXES **/

.header-above-box h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: var(--orange)
}
.box-wrapper {
    padding: 80px 120px;
    display: grid;
    grid-gap: 180px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:50px;
}

.icon {
    position: relative;
}

.icon img {
    width:100%;
}

.icon  h3 {
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%, -50%);
    color: var(--blue);
    font-size: 1.5rem;
    background-color: var(--orange);
    padding:5px;
}


  /*   FOOOTER  */

  footer {
    background-color: var(--black);
  }
  .footer {
      min-height: 10vh;
      color: var(--light);
      padding: 20px;
      text-align: center;
      
  }

  @media (max-width: 700px) {
    .grid-menu {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        grid-gap: 0;
    }

    .nav li.current {
        /* background-color: var(--light); */
        border-bottom: 2px solid var(--yellow);
        padding-bottom: calc(1rem - 2px);
    }

    .nav li:hover {
        border-bottom: 2px solid var(--orange);
        padding-bottom: calc(1rem - 2px);
    }

}
